/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1350px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.movie {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Form Styling */
form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
}

form input[type="text"] {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form select {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Button Styling for Links */
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a.button:hover {
    background-color: #555;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .recommendations {
        flex-direction: column;
        align-items: center;
    }

    .movie {
        width: 80%;
    }
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  